<footer>
    <div id="mail">
        <h3>contact &#64; winerycom</h3>
    </div>
    <div id="adress">
        <img src="../../../assets/images/logo.jpg" alt="">
        <h2>Winery</h2>
        <h3>Georgia, Tbilisi, Rustaveli 41</h3>
        <div id="svgs">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    <div id="phone">
            <h3>+995 555 555 555</h3>
            <h3>+995 555 666 777</h3>
    </div>
</footer>
