<nav class="{{ pseudoClassNav }}">
  <h1
    (click)="switchPage('home')"
    class="navtitle navelements {{ pseudoClassBorder }}"
  >
    {{ "title" | transloco }}
  </h1>
  <div class="navh3s  ">
    <h3
      (click)="openHamNav()"
      (click)="switchPage('home')"
      id="homebtn"
      class="navitem navelements {{ pseudoClassBorder }}"
    >
      {{ "home" | transloco }}
    </h3>
    <h3
      (click)="openHamNav()"
      (click)="switchPage('company')"
      class="navitem navelements {{ pseudoClassBorder }} "
    >
      {{ "company" | transloco }}
    </h3>
    <h3
      (click)="openHamNav()"
      (click)="switchPage('products')"
      class="navitem navelements {{ pseudoClassBorder }}"
    >
      {{ "products" | transloco }}
    </h3>
    <h3
      (click)="openHamNav()"
      (click)="switchPage('contact')"
      class="navitem navelements {{ pseudoClassBorder }}"
    >
      {{ "contact" | transloco }}
    </h3>
    <h3
      (click)="openHamNav()"
      (click)="switchPage('shop')"
      class="navitem shopBtn {{ pseudoClassBorder }}"
    >
      {{ "onlineShop" | transloco }}
    </h3>
  </div>
  <button (click)="openHamNav()" class="hamButton">
    <i class="fa-solid fa-bars"></i>
  </button>
  <button class="btnlang" (click)="openDropdown()">
    <i class="fa-solid fa-globe"></i>
    <div class="dropdown"   >
      <img
        (click)="changeLang('en')"
        class="flag"
        src="../../../assets/flags/gb.svg"
        alt=""
      />
      <img
        (click)="changeLang('ge')"
        class="flag"
        src="../../../assets/flags/ge.svg"
        alt=""
      />
      <img
        (click)="changeLang('ru')"
        class="flag"
        src="../../../assets/flags/ru.svg"
        alt=""
      />
    </div>
  </button>
</nav>
