:root {
    --a-border: 5px solid red;
  }
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 5%;
    font-size: 1.5rem;
    z-index: 100;
    transition: all 500ms ease-out;
    /* position: relative; */
}
.navExpanded{
    background-color: transparent;
    color: white;
    height: 24vh;
}
.navFolded{
    background-color: white;
    color: black;
    height: 14vh;
}
.navelements {
    position: relative;
    display: inline-block;
}
.navelements::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.5s ease; 
}

.navelements:hover::before {
    width: 100%;
}
.blackBorder::before{
    background-color: black;
}
.whiteBorder::before{
    background-color: white;
}
.navtitle{
    margin-right: 20%;
    font-size: 3rem;
    font-family: 'Freehand', cursive;
    letter-spacing: 10px;
}
.navh3s{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.shopBtn{
    text-wrap: nowrap;
    padding: 5px 10px;
    position: relative;
    margin-right: 10px;
    
}
.shopBtn::before{
    content: "";
    position: absolute;
    width: 0;
    top: 0px;
    left: -10px;
    background-color: transparent;
    transition: width 0.5s ease; 
}
.shopBtn::after{
    content: "";
    position: absolute;
    width: 0;
    bottom: 0px;
    right: -10px;
    background-color: transparent;
    transition: width 0.5s ease; 
}
.shopBtn:hover::before {
    border-bottom: 8px solid burlywood;
    border-left: 8px solid burlywood;
    width:  calc(100% + 12px);
    height: 100%;
}
.shopBtn:hover::after{
    border-right: 8px solid burlywood;
    border-top: 8px solid burlywood;
    width: calc(100% + 12px);
    height: 100%;
}

.btnlang{
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: 1.5rem;
    padding: 0 10px;
    position: relative;
    display: inline-block;
}
.dropdown{
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.cartbtn{
    color: #008080;
    background-color: inherit;
    border: none;
    font-size: 2rem;
    position: relative;
    padding: 0 10px;
}
.cartbtn>p{
    font-size: 1rem;
    color: #c5832b;
    text-align: right;
    margin-bottom: -10px;
    font-weight: 900;
    position: absolute;
    z-index: 2;
    right: 35%;
    top: 0px;
}
.cartbtn:hover >p{
    color: #008080;
}
.cartbtn:hover >i{
    color: #c5832b;
}
.cartDiv{
    position: fixed;
    width: 300px;
    height: 500px;
    top: 14vh;
    right: 0;
    background-color: rebeccapurple;
    z-index: 99;
    overflow-y: scroll;

}
.cart{
    display: flex;
    flex-direction: row;
}
.cartImg{
    width: 100px;
    height: 150px;
}
.infoDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media (hover: hover) {
    .btnlang:hover { color: burlywood }
  }
.flag{
    width: 40px;
    height: 40px;
    padding: 4px;
}
.flag:hover{
    background-color: black;
    cursor: pointer;
}
.hamButton,#homebtn{
    display: none;
    
}

@media (width<1300px){
    nav{
        font-size: 1.2rem;
    }
    .navtitle{
        letter-spacing: 8px;
        font-size: 2.5rem;
        margin-right: 10%;
    }
}
@media (width < 1100px){
    nav{
        font-size: 1rem;
    }
    .navtitle{
        letter-spacing:1px ;
        margin-right: 2%;
    }
    .navh3s{
        gap: 20px
    }
}
@media (width<800px){
    #homebtn{
        display: inline;
        
    }
    .hamButton{
        display: inline;
        background-color: transparent;
        color: inherit;
        font-size: 24px;
        padding: 10px;
    }
    .hamButton:hover{
        border: 4px solid black
    }
    .navh3s{
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
        overflow: hidden;
        transition: width 0.3s ease-out; 
        width: 0;
        color: white;
    }

    .navitem{
        padding: 20px 40px;
    }
    .navtitle{
        letter-spacing: 4px;
        font-size: 1.6remm;
    }
    .shopBtn{
        padding: 10px;
        margin-left: 10%;
        margin-top: 20px;
        text-wrap:pretty;
        overflow: hidden;
    }
    .smallerGeo{
        font-size: 1.2rem;
    }

    
    
    
}

