<nav class="{{ pseudoClassNav }}">
  <h1
    (click)="switchPage('home')"
    class="navtitle navelements {{ pseudoClassBorder }}"
    [class.smallerGeo]="langGeo"
  >
    {{ "title" | transloco }}
  </h1>
  <div class="navh3s  ">
    <h3
      (click)="openHamNav()"
      (click)="switchPage('home')"
      id="homebtn"
      class="navitem navelements {{ pseudoClassBorder }}"
    >
      {{ "home" | transloco }}
    </h3>
    <h3
      (click)="openHamNav()"
      (click)="switchPage('company')"
      class="navitem navelements {{ pseudoClassBorder }} "
    >
      {{ "company" | transloco }}
    </h3>
    <h3
      (click)="openHamNav()"
      (click)="switchPage('products')"
      class="navitem navelements {{ pseudoClassBorder }}"
    >
      {{ "products" | transloco }}
    </h3>
    <h3
      (click)="openHamNav()"
      (click)="switchPage('contact')"
      class="navitem navelements {{ pseudoClassBorder }}"
    >
      {{ "contact" | transloco }}
    </h3>
    <h3
      (click)="openHamNav()"
      (click)="switchPage('shop')"
      class="navitem shopBtn {{ pseudoClassBorder }}"
    >
      {{ "onlineShop" | transloco }}
    </h3>
  </div>
  <button (click)="openHamNav()" class="hamButton">
    <i class="fa-solid fa-bars"></i>
  </button>
  <button class="btnlang" (click)="openDropdown()">
    <i class="fa-solid fa-globe"></i>
    <div class="dropdown"   >
      <img
        (click)="changeLang('en')"
        class="flag"
        src="../../../assets/flags/gb.svg"
        alt=""
      />
      <img
        (click)="changeLang('ge')"
        class="flag"
        src="../../../assets/flags/ge.svg"
        alt=""
      />
      <img
        (click)="changeLang('ru')"
        class="flag"
        src="../../../assets/flags/ru.svg"
        alt=""
      />
    </div>
  </button>
  <button class="cartbtn" (click)="openCart()">
      <p>{{ cartNum$ | async }}</p>
    <i class="fa-solid fa-cart-shopping">
    </i></button>
</nav>
<div  class="cartDiv">
  <div *ngIf="cartProducts$ | async as all" class="products">
    <div class="cart" *ngFor="let wine of all" >
      <div class="imgDiv">
        <img class="cartImg" [src]="wine.imageUrl" alt="">
      </div>
      <div class="infoDiv">
        <h1>{{wine.name}}</h1>
        <h3>{{wine.price}}  X  {{wine.quantity}}  = {{wine.price * wine.quantity}}</h3>
        <button (click)="removeFromcart(wine)"><i class="fa-solid fa-trash"></i></button>
      </div>  
        
    </div>
  </div>
</div>
