nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 5%;
    font-size: 1.5rem;
    z-index: 100;
    transition: all 500ms ease-out;
}
.navExpanded{
    background-color: transparent;
    color: white;
    height: 24vh;
}
.navFolded{
    background-color: white;
    color: black;
    height: 14vh;
}
.navelements {
    position: relative;
    display: inline-block;
}
.navelements::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.5s ease; 
}

.navelements:hover::before {
    width: 100%;
}
.blackBorder::before{
    background-color: black;
}
.whiteBorder::before{
    background-color: white;
}
.navtitle{
    margin-right: 20%;
    font-size: 3rem;
    font-family: 'Freehand', cursive;
    letter-spacing: 10px;
}
.navh3s{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.shopBtn{
    text-wrap: nowrap;
    padding: 5px 10px;
    border: 5px solid burlywood;
}

.btnlang{
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: 1.5rem;
    padding: 0 10px;
    position: relative;
    display: inline-block;
}
.dropdown{
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



  

@media (hover: hover) {
    .btnlang:hover { color: burlywood }
  }
.flag{
    width: 40px;
    height: 40px;
    padding: 4px;
}
.flag:hover{
    background-color: black;
    cursor: pointer;
}
.hamButton,#homebtn{
    display: none;
    
}
@media (width<1300px){
    nav{
        font-size: 1.2rem;
    }
    .navtitle{
        letter-spacing: 8px;
        font-size: 2.5rem;
        margin-right: 10%;
    }
}
@media (width < 1100px){
    nav{
        font-size: 1rem;
    }
    .navtitle{
        letter-spacing:1px ;
        margin-right: 2%;
    }
    .navh3s{
        gap: 20px
    }
}
@media (width<800px){
    #homebtn{
        display: inline;
        
    }
    .hamButton{
        display: inline;
        background-color: transparent;
        color: inherit;
        font-size: 24px;
        padding: 10px;
    }
    .hamButton:hover{
        border: 4px solid black
    }
    .navh3s{
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
        overflow: hidden;
        transition: width 0.3s ease-out; 
        width: 0;
        color: white;
    }

    .navitem{
        padding: 20px 40px;
    }
    .navtitle{
        letter-spacing: 4px;
        font-size: 1.6remm;
    }
    .shopBtn{
        padding: 10px 20px;
    }

    
    
    
}

