<div class="firstDiv">
    <div class="firstPhoto"></div>
    <div class="firstPhoto__text">
        <h2 >
            {{"about us" | transloco}}
        </h2>
        <h1>
            {{"title" | transloco}}
        </h1>
    </div>
</div>
<div class="secondDiv">
    <h1>Our History</h1>
    <p>Lorem, Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, id? ipsum dolor sit amet consectetur adipisicing elit. Odio ullam et dolore mollitia fugiat? Ipsam!</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum porro beatae perspiciatis provident corrupti sequi minima non eaque quasi nemo incidunt ut voluptatum at, itaque sit similique labore id, mollitia optio, dolorem quibusdam natus molestiae tempore? Fugiat, error at illum atque vero, porro deserunt nostrum alias dolorem, ea numquam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio numquam corporis culpa soluta qui molestias error magnam minus tenetur explicabo ratione aliquam rem sunt cupiditate asperiores suscipit cum saepe, doloribus nesciunt esse. Inventore saepe reprehenderit voluptatem dolore sint quidem, pariatur adipisci! Voluptatem pariatur cum laboriosam, omnis obcaecati voluptatum earum, dignissimos perferendis quis nemo illum asperiores nihil neque tenetur rerum eum ipsum id quaerat cumque, iste necessitatibus eius exercitationem aperiam fuga. Quam dolorum est quibusdam eaque, libero corrupti aliquam amet sed!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor repudiandae illo dignissimos, minus expedita et inventore modi, repellat dicta nisi nesciunt illum. Fuga, inventore! Deserunt asperiores praesentium perspiciatis veniam aspernatur saepe eius veritatis voluptate ipsam?</p>
</div>