<div class="slider" [style.height.px]="sliderHeight">
  <!-- <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div> -->
  <!-- <img src="" alt=""> -->
  <div
    class="slide"
    [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
  ></div>
  <div class="dotsContainer">
    <div
      *ngFor="let slide of imgArray; let slideIndex = index"
      class="dot"
      [class.active]="slideIndex === currentIndex"
      (click)="goToSlide(slideIndex)"
    >
     
    ●
    </div>
  </div>
</div>
