<div class="firstDiv">
    <div class="firstPhoto"></div>
    <h1 class="firstPhoto__h1">
       {{"country" | transloco}}
    </h1>
</div>

<div class="secondDiv">
    <div class="secondText" id="floatingText">
        <h2 id="secondh1">{{"title" | transloco}}</h2>
        <h2  id="secondh2"> {{"fromHarvest" | transloco}}</h2>
        <p id="secondP">{{"harvestDescr" |transloco}}     </p>
    </div>
    <div class="secondPhotoDiv" id="floatingPhoto">
        <img class="secondPhoto" src="../../../assets/images/wineyeard_house.jpg" alt="">

    </div>

</div>