<div class="mainDiv">
    <img class="backgroundImage" src="../../../../assets/images/contact_landing.jpg" alt="">
    
    <div class="divForH1">
        <h1>CONTACT US</h1>
        <div class="contactUs">
            <form action="">
                <input type="text" name=""  id="name" [placeholder]="'name'|transloco">
                <input type="email" name="" id="email" [placeholder]="'email'|transloco">
                <input type="number" id="phone" [placeholder]="'phone'|transloco">
                <textarea name="" id="message" cols="30" rows="10" [placeholder]="'message'|transloco"></textarea>
                <button class="submit" type="submit">Send</button>
            </form>
            <div class="contactInfo">
                <h1>Contact Details</h1>
                <h3>info//gmail.com</h3>
                <h3>+995 555 666 777</h3>
                <h3>Georgia</h3>
                <h3>Tbilisi</h3>
                <h3>Kakheti Hway 36/7</h3>
            </div>
        </div>
    </div>
</div>
    