<div class="topDiv">
  <image-slider
    *ngIf="!working"
    [imgArray]="slidesForModule"
    [sliderHeight]="600"
  ></image-slider>
  
  <img
    class="inWork"
    *ngIf="working"
    src="assets/shop-adv/wine_adv4.webp"
    alt=""
  />
  <h1 class="title">{{ "title" | transloco }}</h1>
</div>
<div class="shop">
  <div class="filters">
    <div class="searchDiv">
      <label for="search">Search Wine</label>
      <input   type="text" id="seaerch" />
    </div>
    <div class="colorDiv">
      <label for="color">Wine color</label>
      <select name="color" id="color">
        <option value="red">{{ "Red" | transloco }}</option>
        <option value="white">{{ "White" | transloco }}</option>
      </select>
    </div>
    <div class="sizeDiv">
      <label for="size">Bottle Size</label>
      <select name="size" id="size">
        <option value="750">750 {{ "MG" | transloco }}</option>
        <option value="1000">1{{ "Liter" | transloco }}</option>
      </select>
    </div>
    <div class="priceDiv">
      <button (click)="toggleRangeSlider()">Price Range 
        <i *ngIf="rangeSliderDisplay == 'none'" class="fa-solid fa-arrow-down"></i>
        <i *ngIf="rangeSliderDisplay != 'none'" class="fa-solid fa-arrow-up"></i>
      </button>
      <range-slider [style.display]="rangeSliderDisplay" (rangeValues)="getRangeValues($event)" ></range-slider> 
    </div>
  </div>

  <div *ngIf="AllProducts$ | async as all" class="products">
    <app-card-shop *ngFor="let wine of all" [cardData]="wine"></app-card-shop>
  </div>
</div>
