.inWork{
    height: 600px;
    width: 100%;
}
.topDiv{
    position: relative;
    background-color: #1b1b1b;

}
.title{
    position: absolute;
    left: 50%;
    top: 350px;
    transform: translate(-50%, 0);
    font-size: 80px;
    color: white;
    letter-spacing: 20px;
}
.shop{
    background-color: #1b1b1b;
    color: white;
}
.products{
    height: fit-content;

    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding:  100px;
}
.filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}
.searchDiv,.colorDiv,.sizeDiv,.priceDiv{
    display: flex;
    gap: 20px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    text-wrap: nowrap;
}
.searchDiv > input{
    background-color: #1b1b1b;
    border: none;
    color: white;
    overflow: hidden;

}
.secondLine{
    display: flex;
    gap: 40px;
}
.priceDiv{
    position: relative;
    flex-direction: column;   
}
.priceDiv>button{
    background-color: inherit;
    color: white;
    border: none;
}
.priceDiv > range-slider{
    position: absolute;
    top: 60px;
    left: -60px;
}
select{
    /* background-color: inherit; */
    border: none;
    text-align: center;
    color: inherit;
    background-color: #1b1b1b;

}
label{
    border-right: 1px solid white;
    padding-right: 10px;
}
.cart{
    position: fixed;
    right: 0;
    top: 14vh;
    background-color: rebeccapurple;

}


@media (width < 1200px){
    .filters{
        flex-wrap: wrap;
        padding: 0;
        gap: 10px;
        flex-direction: column;
    }
    .secondLine{
        gap: 10px;
    }


    select{
        text-indent: -10x;
    }
    .searchDiv,.colorDiv,.sizeDiv,.priceDiv{
        margin-top: 20px;
        font-size: 1rem;
        padding: 5px 10px;

    }
    .colorDiv,.sizeDiv{
        gap: 4px;
    }

    .title{
        font-size: 40px;
        color: white;
        letter-spacing: 10px;
    }
    
}
@media (width < 400px){
    .secondLine{
        flex-direction: column;
    }
    .searchDiv{
        max-width:90%;
    }
    .smallerGeo{
        font-size: 1.8rem;
    }
    

}
@media (width <= 320px){
    .colorDiv,.sizeDiv{
        padding: 4px 6px; 
    }
    select{
        font-size: 10px;


    }
    .searchDiv{
        gap: 2px;
    }

}




  


